<div class="loading-indicator-modal">
    <div class="la-ball-spin-clockwise la-dark la-lg">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loading-indaicator-text text-title2">Cargando</div>
</div>

