<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Codigo de Producto</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody ng-repeat="productRequire in order">
            <tr>
                <td>{{productRequire.product.id}}</td>
                <td>{{productRequire.product.title}}</td>
                <td>{{productRequire.product.details}}</td>
                <td>{{productRequire.product.price}}</td>
                <td>
                    <input ng-change="updateAmount()" ng-model="productRequire.amount"></input>
                </td>
                <td>{{productRequire.total}}</td>
            </tr>
        </tbody>
    </table>
</div>
