<div class="show-products">
    <div ng-repeat="product in products">
        <div class="panel panel-default">
            <div class="panel-heading">{{product.title}}</div>
            <div class="panel-body">

                <div class="media">
                    <div class="media-left">
                        <div class="thumbnail">
                            <img class="media-object" src="img/products/{{product.name}}.jpg" >
                        </div>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading">{{'showProducts.label.price' | i18n}} {{product.price}}</h4>
                        <div>{{'showProducts.label.id' | i18n}} {{product.id}}</div>
                        <div>{{'showProducts.label.description' | i18n}} {{product.description}}</div>
                        <div>{{'showProducts.label.details' | i18n}} {{product.details}}</div>
                    </div>

                    <!-- SELECT PRODUCT-->
                    <div class="select-product">
                        <label>{{'showProducts.label.amount' | i18n}}</label>
                        <input ng-model="amount" ></input>

                        <button type="button" class="btn btn-default btn-sm" ng-click="addProduct(product,amount)">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            {{'showProducts.button.shoppingCartAdd' | i18n}}
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
