//DIRECTIVES
@import "../directives/showProducts.less";
@import "fonts.less";
@import "override.less";
@import "loadingIndicator";
@import "custom.less";

@carousel-color: deepskyblue;

body{
    font-family: 'Open Sans', sans-serif !important;
}

.block-ui {
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, 0.3);
    z-index: 998;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
}

.panel{
    background:rgba(255, 255, 255, 0.45)!important;
}

.home-logo-container{
    padding: 10px 20px 10px 20px;

    .logo{
        position: relative;
        .flag{
            width: 200px;
            height: 100px;
            background: url("../img/containerFlag.jpg") no-repeat;
            background-size: 100px 80px;
        }
        .line{
            position: absolute;
            border: 1px solid rgb(193, 193, 193);
            width: 100%;
            top: 4px;
            z-index: -1;
            border-radius: 0 10px 10px;
            bottom: 18px;
        }
        .letters{
            position: absolute;
            top: 25px;
            left: 70px;
            .logo-first{
                color:deepskyblue;
            }
        }
    }
}

.home-navbar-links{
    background: deepskyblue !important;

    a{
        .font-home-navbar !important;
    }

    a:hover{
        background: white !important;
        color: deepskyblue !important;
    }
}

.home-view{
    margin-top: 50px;

    .flag-container{
        height: 400px;
        position: absolute;
        top: 52px;
        left: 0;
        right: 0;
        z-index: -1;
        img {
            width: 100%;
            max-width: none;
        }

        .flag{
            width: 100%;
            height:100%;
            opacity: 0.2;
        }
    }
}


.footer{
    border: 1px solid black;
    height:200px;
    background: #4e4a52;
    color:white;
}


.home-main {
    .xx_carousel{
        border: 1px solid black;
        text-align: center;
    }

    .promo{
        margin-top: 20px;
        border: 1px solid black;
        height:200px;
    }
}


.catalog-view{
    .thumbnail{
        width:200px
    }
}

.order-view{
    .total{
        text-align: right;
    }
}

.input-error{
    .text-error;
    animation:0.5s lightSpeedOut ease;
    color:white;
    background: red;
}

.app-form{
    -webkit-transition:all linear 2s;
    transition:all linear 2s;
}

.carousel-caption{
    color: @carousel-color !important;
    .text-carousel;
}