@import "fonts.less";

.modal{
    .text-data;
    .modal-header{
        background-color: black;
        color: white;
        height: 50px;
    }

}

.carousel-caption{
    .text-data;
    font-size: 25px;

}
