.font{
    font-family: 'Roboto Condensed', sans-serif;
}
.font-logo{
    .font;
    font-size: 30px;
    font-weight: 600;
}

.font-home-navbar{
    .font;
    color:white;
    font-size: 15px;
    font-weight: 600;
}

.font-button{
    .font;
    color:white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.text-title1{
    .font;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-title2{
    .font;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-title2{
    .font;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.text-data{
    .font;
    font-size: 18px;
    font-weight: 400;
}

.text-carousel{
    .font;
    font-size: 30pt;
    font-weight: 400;
}

.text-error{
    .font;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}