.loading-indicator-modal{
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.15);
    z-index:1000;
    text-align: center;
    .loading-indaicator-text{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: 10px;
        margin-left: -35px;
    }
}

.fade-loading-indicator{
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
}
.la-ball-spin-clockwise {
    position: relative;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -24px;
}
.la-ball-spin-clockwise > div {
    position: relative;
    box-sizing: content-box;
    color: #fff;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
}
.la-ball-spin-clockwise:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
}
.la-ball-spin-clockwise.la-dark > div {
    color: #444;
    background: #444;
    border-color: #444;
}
.la-ball-spin-clockwise {
    width: 32px;
    height: 32px;
}
.la-ball-spin-clockwise > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    float: left;
    border-radius: 100%;
    animation: ball-spin-clockwise 1s infinite ease-in-out;
}
.la-ball-spin-clockwise > div:nth-child(1) {
    top: 5%;
    left: 50%;
    animation-delay: -.875s;
}
.la-ball-spin-clockwise > div:nth-child(2) {
    top: 18.18019%;
    left: 81.81981%;
    animation-delay: -.75s;
}
.la-ball-spin-clockwise > div:nth-child(3) {
    top: 50.0%;
    left: 95%;
    animation-delay: -.625s;
}
.la-ball-spin-clockwise > div:nth-child(4) {
    top: 81.81981%;
    left: 81.81981%;
    animation-delay: -.5s;
}
.la-ball-spin-clockwise > div:nth-child(5) {
    top: 95.0%;
    left: 50.0%;
    animation-delay: -.375s;
}
.la-ball-spin-clockwise > div:nth-child(6) {
    top: 81.8198%;
    left: 18.18019%;
    animation-delay: -.25s;
}
.la-ball-spin-clockwise > div:nth-child(7) {
    top: 49.99998%;
    left: 5.00001%;
    animation-delay: -.125s;
}
.la-ball-spin-clockwise > div:nth-child(8) {
    top: 18.17946%;
    left: 18.18037%;
    animation-delay: 0s;
}
.la-ball-spin-clockwise.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-spin-clockwise.la-sm > div {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}
.la-ball-spin-clockwise.la-lg {
    width: 48px;
    height: 48px;
}
.la-ball-spin-clockwise.la-lg > div {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
}
.la-ball-spin-clockwise.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-spin-clockwise.la-2x > div {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
}
/*
 * Animation
 */
@keyframes ball-spin-clockwise {
    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: scale(0);
    }
}