.btn-base{
    .font-button;
    color: white;
    background-color: black;


    &:hover{
        color: white !important;
        background-color: deepskyblue;
    }

    &:focus{
        color: white !important;
    }
}
