
<nav class="navbar navbar-default">
    <div class="container">
        <p class="navbar-text navbar-left"><a ui-sref="home.main" class="navbar-link">Home</a></p>
        <p class="navbar-text navbar-right"><a ui-sref="home.login" class="navbar-link">Login</a></p>
        <p class="navbar-text navbar-right"><a ui-sref="home.registration" class="navbar-link">Registrarse</a></p>
    </div>
</nav>

<!-- FOR LOGO -->
<div class="home-logo-container">
    <div class="logo">
        <div class="flag"></div>
        <div class="line"></div>
        <div class="letters">
            <span class="logo-first font-logo">PROVEEDOR</span><span class="logo-second font-logo">MAYO</span>
        </div>
    </div>

</div>

<!-- LINKS RELATED TO WEB PAGE-->

<nav class="navbar home-navbar-links">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home.speech">QUIENES SOMOS</a></li>
            <li><a ui-sref="home.speech">UBICACION</a></li>
            <li><a ui-sref="home.speech">CONTACTENOS</a></li>
        </ul>
    </div>
</nav>

<!-- Angular UI Router Directive for template insertion -->
<div class="home-view">
    <div class="container">
        <div ui-view>
        </div>
    </div>
</div>









