<form name="companyForm" class="app-form" novalidate>
    <br>
    <span class="text-title1">{{ 'registration.label.company.mainTitle' | i18n}}</span>
    <span class="text-title2">{{ 'registration.label.step2.title' | i18n}}</span>
    <br>
    <br>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.companyCode' | i18n}}</label>
        <input type="number" class="form-control" name="companyId" ng-model="data.companyId" required>
        <span data-ng-show="companyForm.companyId.$error.required && companyForm.companyId.$dirty" class="input-error">{{ 'registration.label.step2.requiredNumber' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.password' | i18n}}</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="data.password" required>
        <span data-ng-show="companyForm.password.$error.required && companyForm.password.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.repassword' | i18n}}</label>
        <input type="password" class="form-control" name="repassword" ng-model="data.repassword" password-check="password" required>
        <span ng-show="companyForm.repassword.$error.required && companyForm.repassword.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
        <span ng-show="companyForm.repassword.$error.pwmatch && companyForm.repassword.$dirty" class="input-error">{{ 'registration.label.step2.match' | i18n}}</span>
    </div>

    <br>
    <p class="text-title1">{{ 'registration.label.title' | i18n}}</p>

    <div class="form-group">
        <label class="text-data" for="companyName">{{ 'registration.label.companyName' | i18n}}</label>
        <input type="text" class="form-control" name="name" id="companyName" ng-model="data.companyName" required>
        <span data-ng-show="companyForm.companyName.$error.required && companyForm.companyName.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>


    <div class="form-group">
        <label class="text-data">{{ 'registration.label.email' | i18n}}</label>
        <input type="email" class="form-control" name="email"  ng-model="data.email" required>
        <span data-ng-show="companyForm.email.$error.required && companyForm.email.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
        <span ng-show="companyForm.email.$error.email" class="input-error">{{ 'registration.label.step2.invalid.email' | i18n}}.</span>
    </div>

    <div class="form-group">
        <label class="text-data">Telefono</label>
        <input type="text" class="form-control" name="phone"  ng-model="data.phone"  required>
        <span data-ng-show="companyForm.phone.$error.required && companyForm.postalCode.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <!-- -->
    <!-- -->
    <!-- -->


    <div class="form-group">
        <label class="text-data">{{ 'registration.label.address' | i18n}}</label>
        <input type="text" class="form-control" name="address" ng-model="data.address" required>
        <span data-ng-show="companyForm.address.$error.required && companyForm.address.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.neighborhood' | i18n}}</label>
        <input type="text" class="form-control" name="neighborhood" ng-model="data.neighborhood" required>
        <span data-ng-show="companyForm.neighborhood.$error.required && companyForm.neighborhood.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.postalCode' | i18n}}</label>
        <input type="text" class="form-control" name="postalCode"  ng-model="data.postalCode"  required>
        <span data-ng-show="companyForm.postalCode.$error.required && companyForm.postalCode.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>


    <button type="submit" class="btn btn-base" ng-click="register()">{{ 'registration.button' | i18n}}</button>

    <modal visible="showModal">
        <p>{{message}}</p>
    </modal>

</form>