<div class="panel">
    <!--<form name="userForm" novalidate>-->

    <span class="text-title1">REGISTRAR - </span>
    <span class="text-title2">PASO 1</span>
    <br>
    <p class="text-data"> Seleccione su tipo de usuario:</p>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-base" ui-sref="home.registration.person">PERSONA</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-base" ui-sref="home.registration.company">EMPRESA</button>
        </div>
    </div>
</div>

<div ui-view>

</div>