<form name="userForm" class="app-form" novalidate>
    <br>
    <span class="text-title1">{{ 'registration.label.person.mainTitle' | i18n}}</span>
    <span class="text-title2">{{ 'registration.label.step2.title' | i18n}}</span>
    <br>
    <br>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.personalId' | i18n}}</label>
        <input type="number" class="form-control" name="personalId" ng-model="data.personalId" required>
        <span data-ng-show="userForm.personalId.$error.required && userForm.personalId.$dirty" class="input-error">{{ 'registration.label.step2.requiredNumber' | i18n}}</span>
    </div>

    <div class="form-group">
    <label class="text-data">{{ 'registration.label.password' | i18n}}</label>
    <input type="password" class="form-control" id="password" name="password" ng-model="data.password" required>
        <span data-ng-show="userForm.password.$error.required && userForm.password.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
    <label class="text-data">{{ 'registration.label.repassword' | i18n}}</label>
    <input type="password" class="form-control" name="repassword" ng-model="data.repassword" password-check="password" required>
        <span ng-show="userForm.repassword.$error.required && userForm.repassword.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
        <span ng-show="userForm.repassword.$error.pwmatch && userForm.repassword.$dirty" class="input-error">{{ 'registration.label.step2.match' | i18n}}</span>
    </div>

    <br>
    <p class="text-title1">{{ 'registration.label.title' | i18n}}</p>

    <div class="form-group">
    <label class="text-data" for="name">{{ 'registration.label.name' | i18n}}</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="data.name" required>
        <span data-ng-show="userForm.name.$error.required && userForm.name.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data" for="surname" >{{ 'registration.label.surname' | i18n}}</label>
        <input type="text" class="form-control" name="surname"  ng-model="data.surname"  required>
        <span data-ng-show="userForm.surname.$error.required && userForm.surname.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
    <label class="text-data">{{ 'registration.label.email' | i18n}}</label>
    <input type="email" class="form-control" name="email"  ng-model="data.email" required>
        <span data-ng-show="userForm.email.$error.required && userForm.email.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
        <span ng-show="userForm.email.$error.email" class="input-error">{{ 'registration.label.step2.invalid.email' | i18n}}.</span>
    </div>

    <div class="form-group">
        <label class="text-data">Telefono</label>
        <input type="text" class="form-control" name="phone"  ng-model="data.phone"  required>
        <span data-ng-show="userForm.phone.$error.required && userForm.postalCode.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.address' | i18n}}</label>
        <input type="text" class="form-control" name="address" ng-model="data.address" required>
        <span data-ng-show="userForm.address.$error.required && userForm.address.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.neighborhood' | i18n}}</label>
        <input type="text" class="form-control" name="neighborhood" ng-model="data.neighborhood" required>
        <span data-ng-show="userForm.neighborhood.$error.required && userForm.neighborhood.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>

    <div class="form-group">
        <label class="text-data">{{ 'registration.label.postalCode' | i18n}}</label>
        <input type="text" class="form-control" name="postalCode"  ng-model="data.postalCode"  required>
        <span data-ng-show="userForm.postalCode.$error.required && userForm.postalCode.$dirty" class="input-error">{{ 'registration.label.step2.required' | i18n}}</span>
    </div>


    <button type="submit" class="btn btn-base" ng-click="register()">{{ 'registration.button' | i18n}}</button>



    <modal visible="showModal">
        <p>{{message}}</p>
    </modal>
</form>