<div class="home-main panel panel-default">
    <div class="panel-body">

        <h3>Proveedor Mayo <span class="label label-default"></span></h3>

        <panel>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/carrusel/car1.jpg" >
                        <div class="carousel-caption">
                            <p>Los mejores productos encontralos en Proveedor Mayor</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/carrusel/car2.jpg" >
                        <div class="carousel-caption">
                            <p>Pedidos online las 24 horas</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/carrusel/car3.jpg" >
                        <div class="carousel-caption">
                            <p>Registrate y comenza a hacer tus pedidos</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </panel>

        <div class="promo">En un futuro podriamos poner promociones de productos</div>

    </div>
</div>

