<div class="home-speech panel panel-default">
    <div class="panel-body">
        <h3>Quienes Somos?</h3>

        <span>
            Somos una empresa joven y pujante dedicada a la venta de artículos de librería en general, abarcamos la atención tanto a los mayoristas
            como también a comercios minoristas y empresas.
            Nuestro objetivo es brindar un servicio diferente a todos  nuestros canales de distribución, para eso trabajamos y nos esforzamos día a día,
            ofreciendo precios competitivos, calidad en los artículos y fundamentalmente una logística que le ahorre tiempo y dinero en su compra a todos
            nuestros clientes.
            Sabemos que a la hora de definir una compra somos una opción más que conveniente.
            Es por todo esto que lo invitamos a seguir creciendo juntos y así convertirnos en su próximo proveedor habitual.
                                                                                    "Librería y distribuidora Mayo"
        </span>
    </div>

</div>