<div class="home-main panel panel-default">
    <div class="panel-body">


        <span class="text-title1">{{ 'login.label.title' | i18n}}</span>

        <form class="form-signin">

            <label class="text-title2">{{'login.label.user' | i18n}}</label>

            <input ng-model="user" required >

            <label class="text-title2">{{ 'login.label.password' | i18n}}</label>

            <input ng-model="password" required >

            <button type="button" class="btn btn-base" ng-click="login()">Login</button>

        </form>



        <modal visible="showModal">
            <p>{{message}}</p>
        </modal>

    </div>

</div>
