<br>
<div class="catalog-view">
    <!--SEARCH FIELDS-->
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'catalog.placeholder.search' | i18n }}"  ng-model="valueSearch">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()"><b>{{ 'catalog.button.search' | i18n}}</b></button>
      </span>
    </div>


    <!--ALERT: when a new product is added-->
    <br>
    <div ng-show="addProductSuccess" class="alert alert-success alert-dismissible fade in" role="alert">
        <button type='button' class='close' data-dismiss='alert'>×</button>
        <p>Producto agregado satisfactoriamente</p>
    </div>

    <!-- RESULTS AFTER SEARCH-->
    <h3>{{'catalog.results.title' | i18n }}</h3>
    <div>
        <show-products products="products" add="addProduct"></show-products>
    </div>

</div>