<nav class="navbar navbar-default" ng-init="init()">
    <div class="container">

        <p class="navbar-text navbar-left"><a ui-sref="user.catalog" class="navbar-link">Catalogo de Productos</a></p>
        <p class="navbar-text navbar-right"><a class="navbar-link" ng-click="logout()">Salir</a></p>
        <p class="navbar-text navbar-right"><a class="navbar-link">Perfil</a></p>
        <p class="navbar-text navbar-right"><a ui-sref="user.order" class="navbar-link">Pedido Actual</a></p>
    </div>
</nav>

<!--CONTAINER-->
<div class="container">

    <div ui-view>
    </div>
</div>

<loading-indicator></loading-indicator>
<!--<loading-indicator style="display: none"></loading-indicator>-->
