<div class="order-view" ng-init="init()">

    <h2>{{'order.title.new' | i18n}}</h2>

    <!--<product-order order="order"></product-order>-->

    <!--<div class="panel panel-default">-->
        <!-- Default panel contents -->
        <div class="panel-heading"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Codigo de Producto</th>
                <th>Titulo</th>

                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody ng-repeat="productRequire in order">
            <tr>
                <td>{{productRequire.product.id}}</td>
                <td>{{productRequire.product.name}}</td>

                <td>{{productRequire.product.price}}</td>
                <td>
                    <input ng-change="updateTotal(productRequire.amount, productRequire)" ng-model="productRequire.amount"></input>
                </td>
                <td>{{productRequire.total | currency}}</td>
            </tr>
            </tbody>
        </table>
    <!--</div>-->

    <div class="total">

        <h4>Total: {{total | currency}}</h4>

    </div>


    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">-->
        <!--Enviar-->
    <!--</button>-->
<!---->
    <!--<modal title="Envio" message="Confirma el envio de la orden?" accept="send()" close="close()"></modal>-->

    <button type="button" class="btn btn-base" ng-click="send()">Enviar pedido</button>

</div>